<h1>{{ title }}</h1>

{% if prenom == "Yohane" %}
    <h2>Welcome sir you're getting what work means</h2>
{% else %}
<h2>Welcome here</h2>
{% endif %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque consequatur consequuntur incidunt laborum
    libero magnam maiores molestias pariatur vitae?</p>
<p>Adipisci, aliquam amet dolore esse eum facilis iusto, mollitia
    numquam porro quasi quod similique, soluta voluptas! Cum ducimus odio tenetur?</p>
<p>Aliquam consequatur dolorum ex
    ipsa ipsum, natus, necessitatibus nihil optio perspiciatis porro possimus quidem quis reprehenderit sapiente tempora
    totam voluptate.
</p>